[Unit]
Description=Enable eMMC BKOPS (background operations)
Before=kodi.service
After=dev-mmcblk0.device
Wants=dev-mmcblk0.device
ConditionPathExists=/usr/bin/mmc
ConditionPathExists=/dev/mmcblk0

[Service]
Type=oneshot
ExecStart=-/usr/bin/mmc bkops_en auto /dev/mmcblk0
RemainAfterExit=yes

[Install]
WantedBy=kodi.service
